:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #333333ee;
  transition: all 0.1s ease-in-out;
  background-color: #fefefeee;
}

.dark:root {
  color: #ffffffee;
  background-color: #222222cc;
}

html,
body,
div,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
