* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav .tabs .content {
  display: none;
}

#main .tab {
  font-weight: 500 !important;
}

#main .scroll-container {
  padding-left: 6px !important;
  border-bottom: none !important;
}

#main a {
  transition: all 0.1s ease;
}

#main a:is(:link, :visited) {
  color: #0070f3;
  text-decoration: none;
}

#main a:is(:hover, :active) {
  text-decoration: underline;
  -webkit-text-decoration: underline;
}
