html,
body,
div,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tabs .content {
  display: none;
}

.tab {
  font-weight: 500 !important;
}

.scroll-container {
  padding-left: 6px !important;
  border-bottom: none !important;
}
